[submodule "external/liblinear"]
	path = external/liblinear
	url = https://github.com/FelixEngl/liblinear-rs.git
[submodule "external/mupdf"]
	path = external/mupdf
	url = https://github.com/FelixEngl/mupdf-rs.git
	branch = dynamic
